.slick-slider {
  margin: 0 2rem;
}

/*.imageSlideWrap {
  height: 80vh !important;
  width: 80vw !important;
}*/

.imageSlider {
  margin: auto;
  height: 80vh;
  width: auto;
  object-fit: contain;
  object-fit: contain;
}

.slick-arrow::before {
  color: #FB9F89;
}

.slick-slide div {
  outline: none;
}
